@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

body {
  font-family: 'Poppins', sans-serif;
}

#nav-desktop {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

#nav-desktop,
.nav-links {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-img {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
 
.logo span{
  font-size: 0.8rem;
  font-weight: 600;
}
.profile-main-text {
  align-self: center;
  text-align: center;
}

.profile-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.profile-role {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}


.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.9rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border-color: rgb(163, 163, 163)
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
#about{
  margin-top: 2rem;
}
#experience{
  margin-top: 10rem;
}
#project{
  margin-top: 10rem;
}
#contact{
  margin-top: 12rem;
}
.about-main-text {
  text-align: center;
}

.text-1 {
  color: rgb(85, 85, 85);
  font-size: 1.1rem;
}

.text-2 {
  color: black;
  font-weight: 600;
  font-size: 3rem;
}

.about-main-section {
  display: flex;
  justify-content: space-around;
}

.about-img-section img {
  height:400px;
  width: 400px;
  margin: auto 3rem;
  border-radius: 50%;
  
}
.about-img-section{
  transition: filter 300ms;
}
.about-img-section:hover{
  filter: grayscale(0%);
}


.about-container {
  padding: 1.2rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.about-exp-section {
  justify-content: space-between;
  height: 80%;
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.about-flex,
.about-exp-section {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}

.arrow {
  position: absolute;
  right: 4rem;
}

.arrow1 {
  position: absolute;
  right: 4rem;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.details-container {
  padding: 1rem;
  flex: 1;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  background-color: white;
  border-color: rgb(163, 163, 163);
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  text-align: center;
  justify-content: space-around;
}

.sub-name {
  text-align: center;
  margin: 1.2rem;
}

.card-container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 2rem;
  margin: 2rem auto;
  margin: 3rem;
}

.card {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

.card img {
  border-radius: 2rem;
  width: 80%;
  height: 80%;
}

.contact-info {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  width: 30rem;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  margin: 0.4rem;
}

#contact {
  height: inherit;
}

footer {
  height: 26vh;
  margin: 5rem 1rem;
}

.footer {
  text-align: center;
  color: gray;
  font-size: 1rem;
  margin-top: 5rem;
}

#logo{
  display: none;
  cursor: pointer;
}

.home-btn{
  border: none;
  color:white;
  padding: 1rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
.size{
  font-size: 2rem;
}
body {
  background-color: #fff;
  color: #333;
  /* Add other light mode styles here */
}


.dark-mode  {
  background-color: #121212;
  color: #fff;
  /* Other dark mode styles */
}

.dark-mode a{
  color: white;
}
.dark-mode .btn{
  color: white;
}
.dark-mode .size{
  color: #fff;
}
.dark-mode .text-2{
  color: #fff;
}
.dark-mode .about-container h2{
  color: black;
}
.dark-mode .details-container h2{
  color: black;
}
.dark-mode .exp{
  color: rgb(197, 16, 164);
}

.home-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}


/* //menu toogle */

#menu{
  display: none;
}
